*.log
.DS_Store
.idea
Thumbs.db
npm-debug.log
install.lock
config/database.config.js
!.gitkeep

package-lock.json
dump/
*.gz
node_modules
tmp/*
!tmp/.gitkeep
logs/*
!logs/*/*.gitkeep
public/media/*
!public/media/.gitkeep
public/themes/*
!public/themes/default
!public/themes/yooz.org.cn
!public/themes/yooz.ren
!public/themes/yooz.net.cn
!public/themes/yoozworld.co
