<hr>
<div class="content-footer">
    <h2>免责声明：市场有风险，选择需谨慎！ 资料仅供参考，不作为交易依据。</h2>
    <div class="s-weixin-one bky">
        <div class="weimg-one bky">
          {{{siteInfo.weixinQR}}}<div class="weixin-h">YOOZ柚子电子烟零售、代理</div><div class="weixin-h-w">微信：<span data-clipboard-action="copy" data-clipboard-target="#weixinCode" id="weixinCode" class="get_price_btn_wx" title="点击即可复制微信号">{{{siteInfo.weixin}}}</span>{{#if siteInfo.qqCode}}<br>QQ：<span data-clipboard-action="copy" data-clipboard-target="#qqCode" id="qqCode" class="get_price_btn_qq" title="点击即可复制QQ号">{{{siteInfo.qqCode}}}</span>{{/if}}<br>一手货源，官方正品。适合上班族、宝妈、大学生空余时间操作</div>
        </div>
        <div><span class="icon">↑</span>长按、微信扫描二维码或点击上方微信号咨询</div>
    </div>
</div>