<p class="show_price clearfix">
    {{#if extensions.common_price}}<span>官方零售价：<strong>￥{{extensions.common_price}}</strong></span>{{/if}}
    <span class="{{classes}} text-red hidden-xs">优惠咨询：<input type="button" data-clipboard-action="copy" data-clipboard-target="#weixinCode" class="get_price_btn" value="点击复制微信号"/></span>
    <span class="text-red hidden-sm hidden-md hidden-lg">优惠咨询：<input type="button" data-clipboard-action="copy" data-clipboard-target="#weixinCode" class="get_price_btn" value="点击复制微信号"/></span>
</p>