<div class="panel panel-danger">
    {{!-- class="navbar-fixed-top" --}}
    <h1 class="panel-body weixin-code">
        <span class="auto-lines">
        {{#if siteInfo.weixinQR}}长按识别或微信扫码→：<span id="weixin-qr">{{{siteInfo.weixinQR}}}</span><span class="spacing hidden-sm hidden-xs">&nbsp;</span>{{/if}}
        </span>
        <br class="hidden-lg hidden-md"><br class="hidden-lg hidden-md">
        <span class="auto-lines">
        {{#if siteInfo.qqCode}}客服QQ：<span id="qqCode">{{siteInfo.qqCode}}</span>
            <input type="button" data-clipboard-action="copy" data-clipboard-target="#qqCode" class="copy_btn" id="copy_btn_qq" value="点击复制QQ号">
        {{/if}}
        <span class="spacing hidden-sm hidden-xs">&nbsp;</span>
        <br class="hidden-lg"><br class="hidden-lg">
        {{#if siteInfo.weixin}}客服微信：<span id="weixinCode">{{siteInfo.weixin}}</span>
            <input type="button" data-clipboard-action="copy" data-clipboard-target="#weixinCode" class="copy_btn" id="copy_btn_wx" value="点击复制微信号">
        {{/if}}
        </span>
    </h1>
</div>