<div class="row">
    <h1 class="weixin-code">
        {{#if siteInfo.weixinQR}}微信二维码(长按识别或微信扫码→)：<span id="weixin-qr">{{{siteInfo.weixinQR}}}</span><br class="hidden-lg hidden-md"><br class="hidden-lg hidden-md">{{/if}}
        {{#if siteInfo.weixin}}微信号：<span id="weixinCode">{{siteInfo.weixin}}</span>{{/if}}
        <input type="button" data-clipboard-action="copy" data-clipboard-target="#weixinCode" id="copy_btn" value="点击复制微信号">
    </h1>
</div>