<div class="panel panel-danger">
    {{!-- class="navbar-fixed-top" --}}
    <h1 class="panel-body weixin-code">
        {{#if siteInfo.weixinQR}}长按识别或微信扫码→ <span id="weixin-qr">{{{siteInfo.weixinQR}}}</span><br class="hidden-lg hidden-md"><br class="hidden-lg hidden-md">{{/if}}
        {{#if siteInfo.weixin}}咨询微信：<span id="weixinCode">{{siteInfo.weixin}}</span>{{/if}}
        <input type="button" data-clipboard-action="copy" data-clipboard-target="#weixinCode" id="copy_btn" value="点击复制微信号">
    </h1>
</div>