
<hr>
<div class="content-footer">
    <h2>免责声明：市场有风险，选择需谨慎!此文仅供参考，不作交易依据。</h2>
    <div class="s-weixin-one bky">
        <div class="weimg-one bky">
          {{{siteInfo.weixinQR}}}<div class="weixin-h">作者微信：{{{siteInfo.phoneCode}}}</div><div class="weixin-h-w">长期关注电子烟健康（微信号：<span style="color:#000;" id="weixinCode">{{{siteInfo.weixin}}}</span>）！ 互相交流，货源共享，诚信为本！ 特别提醒！未成年人请勿加作者微信！</div>
        </div>
        <div><span class="icon">↑</span>长按或微信扫描二维码图片添加作者微信号</div>
    </div>
</div>